In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
from wordcloud import WordCloud, STOPWORDS
from PIL import Image
import requests
import matplotlib.pyplot as plt
%matplotlib inline

import chardet

import pandas as pd
f= open(r'C:\Users\91878\Desktop\sc\spam.csv','rb') 
result=chardet.detect(f.read()) 
df=pd.read_csv(r'C:\Users\91878\Desktop\sc\spam.csv',encoding=result['encoding'])
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [2]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis = 1 , inplace = True)
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.columns

Index(['v1', 'v2'], dtype='object')

In [4]:
df.shape

(5572, 2)

In [5]:
df.rename(columns = {'v1': 'labels', 'v2': 'message'}, inplace = True)

In [6]:
df.head()

  labels                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.shape

(5572, 2)

In [8]:
df['labels'] = df['labels'].map({'ham': 0, 'spam': 1})
df.head()

   labels                                            message
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.shape

(5169, 2)

In [11]:
df.isnull().sum()

labels     0
message    0
dtype: int64

In [12]:
import string
from nltk.corpus import stopwords

def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    STOPWORDS = stopwords.words('english')
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return ' '.join([word for word in nopunc.split() if word.lower() not in STOPWORDS])

In [13]:
df['message'].head().apply(text_process)

0    Go jurong point crazy Available bugis n great ...
1                              Ok lar Joking wif u oni
2    Free entry 2 wkly comp win FA Cup final tkts 2...
3                  U dun say early hor U c already say
4          Nah dont think goes usf lives around though
Name: message, dtype: object

In [14]:
df['labels'].value_counts()

0    4516
1     653
Name: labels, dtype: int64

In [15]:
# Taking the spam stemmed words to put them in a word cloud
spam_words = ""
for val in df.loc[df["labels"] == 1]["message"]: 
    val = str(val)
    tokens = val.split()
    spam_words += " ".join(tokens)+" "

In [16]:
# Taking the ham stemmed words to put them in a word cloud
ham_words = ""
for val in df.loc[df["labels"] == 0]["message"]: 
    val = str(val)
    tokens = val.split()
    ham_words += " ".join(tokens)+" "

In [ ]:
# Downloading the pic to use and defining our spam_word cloud
pic = np.array(Image.open(requests.get('http://www.clker.com/cliparts/O/i/x/Y/q/P/yellow-house-hi.png',stream=True).raw))
spam_wordcloud = WordCloud(width = 800, height = 800,
                      background_color ='white', mask = pic, 
                      min_font_size = 10).generate(spam_words)

In [ ]:
# Defining our ham_word cloud
ham_wordcloud = WordCloud(width = 800, height = 800,
                      background_color ='white', mask = pic, 
                      min_font_size = 10).generate(ham_words)

In [ ]:
# Displaying the word cloud of most frequent stemmed spam sms messages words.
plt.figure(figsize = (8, 8), facecolor = 'white', edgecolor='blue') 
plt.imshow(spam_wordcloud) 
plt.axis("off") 
plt.tight_layout(pad = 0) 
  
plt.show()

In [ ]:
# Displaying the word cloud of most frequent stemmed ham sms messages words.
plt.figure(figsize = (8, 8), facecolor = 'white', edgecolor='blue') 
plt.imshow(ham_wordcloud) 
plt.axis("off") 
plt.tight_layout(pad = 0) 
  
plt.show()

In [ ]:
import matplotlib as plt

# Just making the plots look better
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (10,8)
plt.rcParams['font.size'] = 20
%matplotlib inline

In [ ]:
df['labels'].value_counts().plot.bar();

In [ ]:
#Convert text in the form of matrix
from sklearn. feature_extraction.text import CountVectorizer
bowords = CountVectorizer(analyzer = text_process).fit_transform(df['message'])

In [ ]:
#80% data for training and 20% for testing
from sklearn. model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(bowords ,df['labels'], test_size=0.20, random_state = 0)

In [ ]:
bowords.shape

In [ ]:
#Creating and training bayes theorem
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(X_train , Y_train)

In [ ]:
#Print predictions
print(classifier.predict(X_train))
#print actual values
print(Y_train.values)

In [ ]:
import matplotlib as plt

# Just making the plots look better
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (10,8)
plt.rcParams['font.size'] = 20
%matplotlib inline
df['labels'].value_counts().plot.bar();

In [ ]:
#Evaluate model on training data set
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pre = classifier.predict(X_train)
print(classification_report(Y_train, pre))
print('Confusion matrix : \n', confusion_matrix(Y_train , pre))
print('\n')
print('Accuracy:', accuracy_score(Y_train, pre))

In [ ]:
#Evaluate model on testing data set
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
pre = classifier.predict(X_test)
print(classification_report(Y_test, pre))
print('Confusion matrix : \n', confusion_matrix(Y_test , pre))
print('\n')
print('Accuracy:', accuracy_score(Y_test, pre))